<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ac/

  # If the requested file or directory doesn't exist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rewrite all requests to index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>
